<mat-card>
  <mat-card-title>
    {{ message }}
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input
        matInput
        [placeholder]="placeholder"
        [(ngModel)]="userInput"
        [disabled]="disableInput"
        autocomplete="off"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="onNextClick()"
      [disabled]="!userInput && !disableInput"
    >
      <span *ngIf="turn < level"> {{ turn + 1 }}/{{ level }} • </span>
      Далее
    </button>
  </mat-card-actions>
</mat-card>
